<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <h1>Accept Donations</h1>

    <form action="/accept_donation" method="POST">
        Donor ID (Name): <input type="text" id="donor_id" name="donor_id" required>
        <br>
        Item Description: <input type="text" id="item_description" name="item_description" required>
        <br>
        Photo: <input type="text" id="photo" name="photo" required>
        <br>
        Color: <input type="text" id="color" name="color" required>
        <br>
        Item new? 
        <select id="is_new" name="is_new" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br>
        Item have pieces? 
        <select id="has_pieces" name="has_pieces" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br>
        Material: <input type="text" id="material" name="material">
        <br>
        Main Category: <input type="text" id="main_category" name="main_category" required>
        <br>
        Sub Category: <input type="text" id="sub_category" name="sub_category" required>
        <br>
        <button type="submit">Submit</button>
    </form>

    {% if error %}
        <p><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <div>
        <a href="/home">Back</a>
        <br>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>

</body>
</html>