<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Single Item</title>
</head>
<body>
    <h1>Find Order Items</h1>
    <form action="/find_order_items" method="POST">
        <label for="order_id">Enter Order ID:</label>
        <input type="text" id="order_id" name="order_id" required>
        <button type="submit">Search</button>
    </form>

    <h1>Item/Piece locations of this order</h1>
    <ul>
        {% for key, values in data.items() %}
            <li>
                <strong>ItemID: {{ key }}</strong>
                <ul>
                    {% for room, shelf in values %}
                        <li>room: {{ room }}, shelf: {{ shelf }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

</body>
</html>