<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1> 
	<input type="submit" value = Post />
</form>

<nav>
	<ul>
		<li><a href="/find_single_item">Find Single Item</a></li>
		<li><a href="/find_order_items">Find Order Item</a></li>
		<li><a href="/accept_donation">Accept Donation</a></li>
	</ul>
</nav>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
<a href="{{ url_for('logout') }}">Logout</a>

</body>


</html>
