<html>
<head>
</head>
<body>

    <br>

    <form action="/year_report" method="GET"></form>

    <h2>Count of Clients in the Past Year</h2>
    <p>{{ client_num }}</p>

    <h2>Count of Items for Each Main Category</h2>
    <ul>
        {% for c in category_count %}
        <li>
            <strong>Main Category:</strong> {{ c.mc }}, <strong>Donation number:</strong> {{ c.donation_count }}
        </li>
        {% endfor %}
    </ul>

    <h2>Small Pieces Count</h2>
    <p>The number of small pieces (with both length and width less than 50):</p>
    <p>{{ small }}</p>

    <h2>Most Popular Role</h2>    
    <ul>
        {% for role in popular %}
        <li>{{ role.roleID }}: {{ role.c }} users.</li>
        {% endfor %}
    </ul>
    <a href="/home">Back</a>
    <br>
    <a href="/logout">Logout</a>

</body>
</html>
